.badge {
  background-color: #ff6229;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 15px;
  font-weight: 600;
}

.badge--sm {
  width: 20px;
  height: 20px;
  font-size: 13px;
}

.badge {
}
