.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(2turn);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}

@keyframes musicAnimation {
  0% {
    transform: none;
  }
  25% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-music:hover {
  animation: musicAnimation 0.5s linear infinite;
}
